@font-face {
    font-family: "Raleway";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Light/Raleway-Light.eot");
    src: url("../fonts/Raleway/Raleway-Light/Raleway-Light.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Raleway/Raleway-Light/Raleway-Light.woff") format("woff"),
        url("../fonts/Raleway/Raleway-Light/Raleway-Light.ttf")
            format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot");
    src: url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.woff")
            format("woff"),
        url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.ttf")
            format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.eot");
    src: url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.woff")
            format("woff"),
        url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.ttf")
            format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.eot");
    src: url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.woff")
            format("woff"),
        url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.ttf")
            format("truetype");
    font-display: swap;
}

body {
    font-family: "Raleway" !important;
}
